/*loading spinner*/
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px;
  left: 50%;
  top: auto;
  margin-left: -3.5em;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 150px;
  left: 37px;
  width: 20px;
  height: 50px;
  border-radius: 20%;
  background: linear-gradient(#ff79da, #9356dc);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*body*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  /*header*/
  /*NAVIGATEUR*/
  /*footer*/
  /*menu1/2/3/4*/
}
body .logo {
  display: block;
  margin: auto;
  padding: 20px 0 20px 0;
  width: 50%;
}
body .eentete {
  background-color: #f1f1f3;
  display: block;
  text-align: center;
  padding: 0 0 35px 0;
}
body .eentete p {
  font-weight: lighter;
  margin: 20px;
}
body .eentete .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 120px;
  background-color: #e6e6f0;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.19);
}
body .eentete .searchbar i {
  font-size: larger;
}
body .eentete .searchbar .searchtext {
  background-color: #e6e6f0;
  border: none;
  margin: 10px;
  font-weight: bold;
  color: black;
  font-size: larger;
}
body .eentete .btn {
  margin: 10px 0;
  padding: 20px 0;
}
body .eentete .btn > a:hover {
  opacity: 0.7;
}
body .eentete .btn a {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
  /* Animation-start*/
  animation: bouton 1.2s infinite;
  /* Animation-end*/
}
@keyframes btn {
  from {
    box-shadow: 0 0 0 10px rgba(185, 2, 241, 0.158);
  }
}
body nav {
  padding: 20px;
}
body nav h2 {
  text-align: center;
}
@media (max-width: 599px) {
  body nav h2 {
    margin: 20px;
    font-weight: bold;
    text-align: initial;
  }
}
body nav .list_fonctionnement {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 599px) {
  body nav .list_fonctionnement {
    align-items: initial;
    flex-direction: column;
  }
}
body nav .list_fonctionnement .box_fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: 20px;
  background-color: #f1f1f3;
  font-weight: bold;
}
body nav .list_fonctionnement .box_fonctionnement:hover {
  opacity: 0.7;
}
body nav .list_fonctionnement .box_fonctionnement .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px;
  margin: 0;
  cursor: grab;
}
@media (max-width: 599px) {
  body nav .list_fonctionnement .box_fonctionnement .menu {
    justify-content: initial;
  }
}
body nav .list_fonctionnement .box_fonctionnement .menu .logo_chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  margin-left: -37px;
}
body nav .list_fonctionnement .box_fonctionnement .menu .logo_chiffre p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: smaller;
  font-weight: lighter;
}
body nav .list_fonctionnement .box_fonctionnement .menu .text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
body nav .list_fonctionnement .box_fonctionnement .menu .text_box i {
  color: gray;
  margin: 0 0px 0 10px;
}
body nav .list_fonctionnement .box_fonctionnement .menu .text_box p {
  margin: 0 10px 0 20px;
  color: black;
  text-align: center;
}
body nav .list_fonctionnement .box_fonctionnement .menu .text_box .fa-store {
  color: #9356dc;
}
body .restaurants {
  margin: 10px 0 30px 0;
  background-color: #ebebf7;
  padding: 35px;
}
body .restaurants h2 {
  margin: -15px 0 25px 10px;
}
@media (max-width: 599px) {
  body .restaurants h2 {
    margin: 10px 0 10px 10px;
  }
}
body .restaurants .restaurants-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2;
  grid-gap: 20px;
  margin-left: 10px;
}
@media (max-width: 599px) {
  body .restaurants .restaurants-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 10px 20px 10px 20px;
  }
}
body .restaurants .restaurants-list .list {
  background-color: white;
  border-radius: 20px;
}
body .restaurants .restaurants-list .list a {
  text-decoration: none;
  color: black;
}
body .restaurants .restaurants-list .list .image_restaurants .nouveau {
  position: absolute;
  width: 70px;
  height: auto;
  text-align: center;
  right: 70px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
body .restaurants .restaurants-list .list .image_restaurants .nouveau img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants h3 {
  margin: 5px 0 2px 5px;
  font-weight: bold;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants p {
  margin: 3px 0 10px 5px;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants .heart {
  margin-right: 20px;
  font-size: x-large;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants .heart > .fas {
  display: none;
  content: "";
  font-size: 26.6px;
  margin: 7px;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants .heart > .far {
  font-size: 28px;
  color: linear-gradient(#ff79da, #9356dc);
  margin: 7px;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants .heart:hover > .far {
  display: none;
}
body .restaurants .restaurants-list .list .image_restaurants .texte_restaurants .heart:hover > .fas {
  display: block;
  content: "";
  position: relative;
  animation: coeur 800ms ease-in-out forwards;
}
body footer {
  position: relative;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
body footer .logoShrikhand p {
  font-family: "Shrikhand", cursive;
  margin: 10px 0 5px 25px;
  color: white;
}
body footer .list-footer {
  height: 130px;
}
body footer .list-footer ul {
  margin-top: 0;
  padding-left: 15px;
}
body footer .list-footer ul li {
  list-style-type: none;
  margin: 10px;
}
body footer .list-footer ul li .text1 {
  margin-left: 15px;
}
body footer .list-footer ul li a {
  text-decoration: none;
  color: white;
}
body footer .list-footer ul li .text2 {
  margin-left: 7.5px;
}
body footer .list-footer ul li .text3 {
  margin-bottom: 10px;
}
body .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .top #toback {
  margin: 20px;
}
body .top .logo {
  margin: 0 60px;
}
body .carte_menu {
  background-color: #f1f1f3;
}
body .carte_menu .image_restaurants_menu {
  position: relative;
  border-bottom-left-radius: -20px;
  border-bottom-right-radius: -20px;
}
body .carte_menu .image_restaurants_menu img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
body .carte_menu .commander {
  text-align: center;
  margin: 20px;
}
body .carte_menu .commander > a:hover {
  opacity: 0.7;
}
body .carte_menu .commander a {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
  /* Animation-start*/
  animation: bouton 1.2s infinite;
  /* Animation-end*/
}
@keyframes commander {
  from {
    box-shadow: 0 0 0 10px rgba(185, 2, 241, 0.158);
  }
}
body .title-menu {
  position: relative;
  background-color: #f1f1f3;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -100px;
}
@media (max-width: 599px) {
  body .title-menu {
    margin-top: -30px;
  }
}
body .title-menu .title_menu_restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .title-menu .title_menu_restaurants h1 {
  font-family: "Shrikhand", cursive;
}
body .title-menu .title_menu_restaurants .heart {
  margin-left: 20px;
}
body .title-menu .title_menu_restaurants .heart > .fas {
  display: none;
  content: "";
  font-size: 26.6px;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}
body .title-menu .title_menu_restaurants .heart > .far {
  font-size: 28px;
  color: linear-gradient(#ff79da, #9356dc);
}
body .title-menu .title_menu_restaurants .heart:hover > .far {
  display: none;
}
body .title-menu .title_menu_restaurants .heart:hover > .fas {
  display: block;
  content: "";
  position: relative;
  animation: coeur 800ms ease-in-out forwards;
}
body .title-menu .list_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*animations-start*/
  /* Animation-end*/
}
@media (max-width: 599px) {
  body .title-menu .list_menu {
    display: flex;
    flex-direction: column;
  }
}
body .title-menu .list_menu .carte:nth-of-type(1) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0s;
}
body .title-menu .list_menu .carte:nth-of-type(2) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0.5s;
}
body .title-menu .list_menu .carte:nth-of-type(3) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 1s;
}
body .title-menu .list_menu .carte {
  margin: 20px 0;
}
body .title-menu .list_menu .carte h4 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
}
body .title-menu .list_menu .carte ul {
  padding-left: 0;
}
body .title-menu .list_menu .carte ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
body .title-menu .list_menu .carte ul li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .title-menu .list_menu .carte ul li h5 {
  margin: 0;
  font-size: larger;
}
body .title-menu .list_menu .carte ul li p {
  margin: 10px 10px 0 0;
  font-weight: lighter;
}
body .title-menu .list_menu .carte ul li .tarif {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
