/*body*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  /*LOGO*/
  /*ENTETE*/
  /*restaurants*/
}
body .header__logo {
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
}
body .explore {
  background-color: #f1f1f3;
  display: block;
  text-align: center;
  padding: 0 0 35px 0;
}
body .explore .explore__description {
  font-weight: lighter;
  margin: 20px;
}
body .explore .location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 120px;
  background-color: #e6e6f0;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.19);
}
body .explore .location .location__icon {
  font-size: larger;
}
body .explore .location .location__map {
  background-color: #e6e6f0;
  border: none;
  margin: 10px;
  font-weight: bold;
  color: black;
  font-size: larger;
}
body .explore .explore__button {
  margin: 10px 0;
  padding: 20px 0;
}
body .explore .explore__button > a:hover {
  opacity: 0.7;
}
body .explore .explore__button .explore__button--link {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
  /* Animation-start*/
  animation: bouton 1.2s infinite;
  /* Animation-end*/
}
@keyframes explore__button--link {
  from {
    box-shadow: 0 0 0 10px rgba(185, 2, 241, 0.158);
  }
}
body .function {
  padding: 20px;
}
body .function .function__title {
  text-align: center;
}
@media (max-width: 599px) {
  body .function .function__title {
    margin: 20px;
    font-weight: bold;
    text-align: center;
  }
}
body .function .function__box {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 599px) {
  body .function .function__box {
    align-items: initial;
    flex-direction: column;
  }
}
body .function .function__box .function__box__element {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
  cursor: grab;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #f1f1f3;
  font-weight: bold;
}
body .function .function__box .function__box__element:hover {
  opacity: 0.7;
}
@media (max-width: 599px) {
  body .function .function__box .function__box__element {
    justify-content: initial;
  }
}
body .function .function__box .function__box__element .function__box__element--number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #9356dc;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  margin-left: -35px;
  color: white;
  font-size: small;
}
body .function .function__box .function__box__element .function__box__element--icon {
  color: gray;
  margin: 0 20px;
  font-size: larger;
}
body .function .function__box .function__box__element .function__box__element--type {
  margin: 0 10px 0 10px;
  color: black;
  text-align: center;
  font-size: small;
}
body .function .function__box .function__box__element.eat {
  background: #f5eefe;
}
body .function .function__box .function__box__element.eat .function__box__element--icon.eat {
  color: #9356dc;
}
body .restaurant__container {
  background-color: #ebebf7;
  padding: 20px;
}
body .restaurant__container .restaurant__title {
  text-align: center;
  margin: -15px 0 25px 10px;
}
@media (max-width: 599px) {
  body .restaurant__container .restaurant__title {
    margin: 10px 0 10px 10px;
  }
}
body .restaurant__container .restaurant__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2;
  grid-gap: 20px;
}
@media (max-width: 599px) {
  body .restaurant__container .restaurant__list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 10px 20px 10px 20px;
  }
}
body .restaurant__container .restaurant__list .restaurant__item {
  background-color: white;
  border-radius: 20px;
  position: relative;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__new-green {
  position: absolute;
  text-align: center;
  right: 30px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: green;
  padding: 8px;
  bottom: 14rem;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__picture {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container h3 {
  margin: 0 0 2px 0;
  font-weight: bold;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container p {
  margin: 3px 0 10px 5px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .item__info-container--title {
  margin: 5px 0 2px 5px;
  font-weight: bold;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .item__info-container--location {
  margin: 3px 0 10px 5px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container {
  margin-right: 20px;
  font-size: x-large;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container > .heart-icon icon-full fas {
  display: none;
  font-size: 26.6px;
  margin: 7px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: transparent;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container > .heart-icon icon-empty far {
  font-size: 28px;
  color: linear-gradient(#ff79da, #9356dc);
  margin: 7px;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icon:hover > .far {
  display: none;
}
body .restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icon:hover > .fas {
  display: block;
  content: "";
  position: relative;
  animation: coeur 800ms ease-in-out forwards;
}

/*footer*/
footer {
  position: relative;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  margin: 10px 0 5px 25px;
  color: white;
  font-weight: initial;
}
footer ul {
  margin-top: 0;
  padding-left: 15px;
}
footer ul li {
  list-style-type: none;
  margin: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a .icon {
  width: 15px;
  margin-right: 8px;
  font-size: 12px;
  color: white;
}

/*menu1/2/3/4*/
.menu__body .header-menu {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__body .header-menu .header-menu__icon--link {
  position: absolute;
  left: 20px;
}
.menu__body .carte_menu {
  background-color: #f1f1f3;
}
.menu__body .carte_menu .image_restaurants_menu {
  position: relative;
  border-bottom-left-radius: -20px;
  border-bottom-right-radius: -20px;
}
.menu__body .carte_menu .image_restaurants_menu img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.menu__body .carte_menu .title-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f3;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -100px;
}
@media (max-width: 599px) {
  .menu__body .carte_menu .title-menu {
    margin-top: -30px;
  }
}
.menu__body .carte_menu .title-menu .title_menu_restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants h1 {
  font-family: "Shrikhand", cursive;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart {
  margin-left: 20px;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart > .fas {
  display: none;
  content: "";
  font-size: 26.6px;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart > .far {
  font-size: 28px;
  color: linear-gradient(#ff79da, #9356dc);
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart:hover > .far {
  display: none;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart:hover > .fas {
  display: block;
  content: "";
  position: relative;
  animation: coeur 800ms ease-in-out forwards;
}
.menu__body .carte_menu .title-menu .list_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*animations-start*/
  /* Animation-end*/
}
@media (max-width: 599px) {
  .menu__body .carte_menu .title-menu .list_menu {
    display: flex;
    flex-direction: column;
  }
}
.menu__body .carte_menu .title-menu .list_menu .carte:nth-of-type(1) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0s;
}
.menu__body .carte_menu .title-menu .list_menu .carte:nth-of-type(2) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0.5s;
}
.menu__body .carte_menu .title-menu .list_menu .carte:nth-of-type(3) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 1s;
}
.menu__body .carte_menu .title-menu .list_menu .carte {
  margin: 20px 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte h4 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul {
  padding-left: 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li h5 {
  margin: 0;
  font-size: larger;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li p {
  margin: 10px 10px 0 0;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .tarif {
  font-weight: bold;
}
.menu__body .carte_menu .title-menu .commander {
  text-align: center;
  margin: 30px;
}
.menu__body .carte_menu .title-menu .commander > a:hover {
  opacity: 0.7;
}
.menu__body .carte_menu .title-menu .commander a {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
  /* Animation-start*/
  animation: bouton 1.2s infinite;
  /* Animation-end*/
}
@keyframes commander {
  from {
    box-shadow: 0 0 0 10px rgba(185, 2, 241, 0.158);
  }
}

/*# sourceMappingURL=style.css.map */
