@charset "UTF-8";
/* animation loading spinner*/
@keyframes spin {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%) rotate(340deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
/* apparition du full container après le loading*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* appartition progressive du remplissage du coeur*/
@keyframes progress-bar {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* animation apparition progressive des plats*/
@keyframes slidein {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* animation click choix menu en vert */
@keyframes check {
  0% {
    right: -99px;
  }
  100% {
    right: -1px;
    width: 20%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*modification ombre bouton commander*/
@keyframes ombre {
  from {
    box-shadow: 10px 10px rgba(180, 74, 209, 0.158);
  }
}
/*body*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*menu "la palette du gout"/"la note enchantée" /"A la française"*/
.menu__body .header-menu {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__body .header-menu .header-menu__icon--link {
  position: absolute;
  color: black;
  left: 20px;
}
.menu__body .carte_menu {
  background-color: #f1f1f3;
}
.menu__body .carte_menu .image_restaurants_menu {
  position: relative;
}
.menu__body .carte_menu .image_restaurants_menu img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}
.menu__body .carte_menu .title-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f3;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -100px;
}
@media (max-width: 599px) {
  .menu__body .carte_menu .title-menu {
    margin-top: -30px;
  }
}
.menu__body .carte_menu .title-menu .title_menu_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
}
@media (max-width: 599px) {
  .menu__body .carte_menu .title-menu .title_menu_restaurants {
    padding: 0px 1.5rem 0 1rem;
  }
}
.menu__body .carte_menu .title-menu .title_menu_restaurants h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart-icons__container {
  display: flex;
  align-items: center;
  font-size: x-large;
  color: black;
  padding-right: 20px;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart-icons__container .icon-empty {
  position: absolute;
  z-index: 2;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart-icons__container .icon-empty:hover {
  cursor: pointer;
  animation: progress-bar 2s linear;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart-icons__container .icon-empty:hover + i {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s linear;
}
.menu__body .carte_menu .title-menu .title_menu_restaurants .heart-icons__container .icon-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: scale(0);
}
.menu__body .carte_menu .title-menu .list_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 599px) {
  .menu__body .carte_menu .title-menu .list_menu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .menu__body .carte_menu .title-menu .list_menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
@media (min-width: 600px) and (max-width: 1199px) and (min-width: 1200px) {
  .menu__body .carte_menu .title-menu .list_menu {
    display: none;
  }
}
.menu__body .carte_menu .title-menu .list_menu .carte {
  margin: 20px 0;
  animation: linear 1s slidein;
}
.menu__body .carte_menu .title-menu .list_menu .carte h4 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul {
  padding-left: 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li {
  display: flex;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li:hover .carte--check {
  display: block;
  animation: check 500ms 0s both cubic-bezier(0, 0.8, 0.19, 0.94);
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li:hover .carte--check .icon--check {
  animation: rotate 500ms 0s both;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte-description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte-description h5 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 0 0px 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte-description .carte--choix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte-description .carte--choix .type {
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0 5px 10px;
  margin: 0 0 5px 0;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte-description .carte--choix .tarif {
  font-weight: bold;
  align-self: flex-end;
  margin: 0 10px 10px 10px;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte--check {
  display: none;
  background-color: #99e2d0;
  position: relative;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}
.menu__body .carte_menu .title-menu .list_menu .carte ul li .carte--check .icon--check {
  position: absolute;
  top: 35%;
  left: 30%;
  color: white;
  font-size: 1.3em;
  border-radius: 0 20px 20px 0;
}
.menu__body .carte_menu .title-menu .commander {
  text-align: center;
  margin: 30px;
}
.menu__body .carte_menu .title-menu .commander > a:hover {
  opacity: 0.7;
  animation: ombre 3000ms;
}
.menu__body .carte_menu .title-menu .commander a {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
}

/*loading spinner*/
.loader {
  position: fixed;
  z-index: 999;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #9356dc;
  border-radius: 50%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  visibility: hidden;
  animation: spin 2s linear;
}

/*LOGO*/
.full-container {
  animation: opacity 2s linear;
}

.header__logo {
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
}

/*ENTETE*/
.explore {
  background-color: #f1f1f3;
  display: block;
  text-align: center;
  padding: 0 0 35px 0;
  /* bar de recherche localisation , restaurants*/
  /* bouton explorer nos restaurants*/
}
.explore .explore__description {
  font-weight: lighter;
  margin: 20px;
}
.explore .location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.19);
  background-color: #eaeaea;
}
.explore .location .location__icon {
  font-size: larger;
  color: #27272a;
  padding: 0 10px;
}
.explore .location .location__map {
  background-color: transparent;
  border: 0;
  padding: 15px 0;
  text-align: center;
  width: 10%;
  color: #27272a;
  font-weight: bold;
}
@media (max-width: 599px) {
  .explore .location .location__map {
    width: 35%;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .explore .location .location__map {
    width: 15%;
  }
}
.explore .explore__button {
  margin: 10px 0;
  padding: 20px 0;
}
.explore .explore__button > a:hover {
  opacity: 0.7;
  animation: ombre 3000ms;
}
.explore .explore__button .explore__button--link {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: grab;
}

/*footer*/
footer {
  position: relative;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  margin: 10px 0 5px 25px;
  color: white;
  font-weight: initial;
}
footer ul {
  margin-top: 0;
  padding-left: 15px;
}
footer ul li {
  list-style-type: none;
  margin: 10px;
}
footer ul li a {
  color: white;
}
footer ul li a .icon {
  width: 15px;
  margin-right: 8px;
  font-size: 12px;
  color: white;
}

/*FONCTIONNEMENT*/
.function {
  padding: 20px;
}
.function .function__title {
  text-align: center;
}
@media (max-width: 599px) {
  .function .function__title {
    margin: 20px;
    font-weight: bold;
    text-align: center;
  }
}
.function .function__box {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 599px) {
  .function .function__box {
    align-items: center;
    flex-direction: column;
  }
}
.function .function__box .function__box__element {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
  cursor: grab;
  box-shadow: 0 6px 10px #0000004b;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
}
.function .function__box .function__box__element:hover {
  background-color: #ece1f9;
  transition-delay: 250ms;
}
.function .function__box .function__box__element:hover .function__box__element--icon {
  color: #9356DC;
}
.function .function__box .function__box__element .function__box__element--number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #9356dc;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  margin-left: -35px;
  color: white;
  font-size: small;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .function .function__box .function__box__element .function__box__element--number {
    width: 25px;
    height: 16px;
    margin-left: -30px;
  }
}
.function .function__box .function__box__element .function__box__element--icon {
  color: gray;
  margin: 0 20px;
  font-size: larger;
}
.function .function__box .function__box__element .function__box__element--type {
  margin: 0 10px 0 10px;
  color: black;
  text-align: center;
  font-size: small;
  padding-right: 40px;
}

/*RESTAURANTS*/
.restaurant__container {
  background-color: #f1f1f3;
  padding: 20px;
}
.restaurant__container .restaurant__title {
  text-align: center;
}
.restaurant__container .restaurant__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  height: 100%;
}
@media (max-width: 599px) {
  .restaurant__container .restaurant__list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 10px 20px 10px 20px;
    padding-left: 0px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .restaurant__container .restaurant__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 0px;
  }
}
.restaurant__container .restaurant__list .restaurant__item {
  background-color: white;
  border-radius: 20px;
  position: relative;
}
.restaurant__container .restaurant__list .restaurant__item .item__link {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__new-green {
  position: absolute;
  text-align: center;
  right: 30px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: green;
  padding: 8px;
  bottom: 11rem;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .restaurant__container .restaurant__list .restaurant__item .item__link .item__new-green {
    right: 19px;
    bottom: 8rem;
    font-size: xx-small;
  }
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__picture {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .restaurant__container .restaurant__list .restaurant__item .item__link .item__picture {
    height: 100px;
  }
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0 10px 0;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .item__info-container--title {
  margin: 5px 0 2px 5px;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .item__info-container--title h3 {
  margin: 0 0 2px 0;
  font-weight: bold;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .item__info-container--title p {
  margin: 3px 0 10px 5px;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container {
  display: flex;
  align-items: center;
  font-size: x-large;
  color: black;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container .icon-empty {
  position: absolute;
  z-index: 2;
  right: 10px;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container .icon-empty:hover {
  cursor: pointer;
  animation: progress-bar 2s linear;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container .icon-empty:hover + i {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s linear;
}
.restaurant__container .restaurant__list .restaurant__item .item__link .item__info-container .heart-icons__container .icon-full {
  position: absolute;
  right: 10px;
  opacity: 0;
  background: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: scale(0);
}

/*# sourceMappingURL=style.css.map */
