body {
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  /*header*/
  /* navbar*/
  /*footer*/
  /*menu1*/
}
body .logo {
  display: block;
  margin: auto;
  padding: 20px 0 20px 0;
  width: 50%;
}
body .eentete {
  background-color: #f1f1f3;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 35px 0;
}
body .eentete p {
  font-weight: lighter;
  margin: 20px;
}
body .eentete .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 120px;
  background-color: #e6e6f0;
  box-shadow: -2px -2px 0 2px #d8d8da;
}
body .eentete .searchbar i {
  font-size: larger;
}
body .eentete .searchbar .searchtext {
  background-color: #e6e6f0;
  border: none;
  margin: 10px;
  font-weight: bold;
  color: black;
  font-size: larger;
}
body h1 {
  padding-left: 10px;
  font-weight: bold;
}
body .choix {
  display: flex;
  flex-direction: column;
}
body .button {
  padding: 20px;
  border-color: none;
}
body .explorer {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  padding: 15px;
  color: white;
  border: 0;
  font-size: large;
}
body .box_fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
  background-color: #f1f1f3;
  font-weight: bold;
}
body .box_fonctionnement .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px;
  margin: 0;
}
@media (max-width: 599px) {
  body .box_fonctionnement .menu {
    justify-content: initial;
  }
}
body .box_fonctionnement .menu .logo_chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  margin-left: -37px;
}
body .box_fonctionnement .menu .logo_chiffre p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: smaller;
  font-weight: lighter;
}
body .box_fonctionnement .menu .text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
body .box_fonctionnement .menu .text_box i {
  color: gray;
  margin: 0 0px 0 10px;
}
body .box_fonctionnement .menu .text_box p {
  margin: 0 10px 0 20px;
  color: black;
  text-align: center;
}
body .box_fonctionnement .menu .text_box .fa-store {
  color: #9356dc;
}
body .list-restaurants {
  background-color: #f1f1f3;
}
body .list-restaurants h1 {
  margin: 50px 0 10px 10px;
}
body .list-restaurants .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  height: 285px;
  background-color: white;
  margin: 10px 20px 20px 20px;
  border-radius: 15px;
}
@media (max-width: 599px) {
  body .list-restaurants .list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 10px 20px 10px 20px;
  }
}
body .list-restaurants .list .image_restaurants0 .nouveau0 {
  position: relative;
}
body .list-restaurants .list .image_restaurants0 img {
  display: flex;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 285px;
}
@media (max-width: 599px) {
  body .list-restaurants .list .image_restaurants0 img {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
body .list-restaurants .list .image_restaurants0 #nouveau0 {
  position: absolute;
  width: 70px;
  height: auto;
  text-align: center;
  margin-left: 791px;
  margin-top: -155px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
@media (max-width: 599px) {
  body .list-restaurants .list .image_restaurants0 #nouveau0 {
    margin-left: 270px;
    margin-top: -180px;
  }
}
body .list-restaurants .list .image_restaurants0 #nouveau0 p {
  color: #165344;
  margin: 5px 0;
}
body .list-restaurants .list .image_restaurants {
  display: flex;
  background-color: white;
  border-radius: 15px;
}
body .list-restaurants .list .image_restaurants img {
  display: flex;
  border-radius: 15px;
  object-fit: cover;
  width: 475px;
  height: 285px;
}
@media (max-width: 599px) {
  body .list-restaurants .list .image_restaurants img {
    width: 375px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
@media (min-width: 600px) {
  body .list-restaurants .list .image_restaurants img {
    width: 372px;
  }
}
body .list-restaurants .list .image_restaurants1 .nouveau1 {
  position: relative;
}
body .list-restaurants .list .image_restaurants1 img {
  display: flex;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 285px;
}
@media (max-width: 599px) {
  body .list-restaurants .list .image_restaurants1 img {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
body .list-restaurants .list .image_restaurants1 #nouveau1 {
  position: absolute;
  width: 70px;
  height: auto;
  text-align: center;
  margin-left: 791px;
  margin-top: -155px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
@media (max-width: 599px) {
  body .list-restaurants .list .image_restaurants1 #nouveau1 {
    margin-left: 270px;
    margin-top: -180px;
  }
}
body .list-restaurants .list .image_restaurants1 #nouveau1 p {
  color: #165344;
  margin: 5px 0;
}
body .list-restaurants .list .texte_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
body .list-restaurants .list .texte_restaurants a {
  text-decoration: none;
  color: black;
}
body .list-restaurants .list .texte_restaurants h2 {
  margin-bottom: 0;
  font-weight: bold;
}
body .list-restaurants .list .texte_restaurants p {
  margin-top: 0;
}
body .list-restaurants .list .texte_restaurants .heart-color {
  margin-right: 20px;
  font-size: x-large;
}
body footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
body footer .logoShrikhand p {
  font-family: "Shrikhand", cursive;
  margin: 10px 0 5px 25px;
  color: white;
}
body footer .list-footer {
  height: 130px;
}
body footer .list-footer ul {
  margin-top: 0;
  padding-left: 15px;
}
body footer .list-footer ul li {
  list-style-type: none;
  margin: 10px;
}
body footer .list-footer ul li .text1 {
  margin-left: 15px;
}
body footer .list-footer ul li a {
  text-decoration: none;
  color: white;
}
body footer .list-footer ul li .text2 {
  margin-left: 7.5px;
}
body footer .list-footer ul li .text3 {
  margin-bottom: 10px;
}
body .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .top #toback {
  margin: 20px;
}
body .top .logo {
  margin: 0 60px;
}
body .image_restaurants-menu {
  position: absolute;
}
body .image_restaurants-menu img {
  display: flex;
  object-fit: cover;
  width: 100%;
  border-bottom-left-radius: -20px;
  border-bottom-right-radius: -20px;
}
body .list1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f3;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1;
  margin-top: 200px;
}
body .list1 .menu_restaurants {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .list1 .menu_restaurants h1 {
  font-family: "Shrikhand", cursive;
}
body .list1 .menu_restaurants i {
  font-size: x-large;
  color: black;
}
body .list1 h3 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
}
body .list1 ul {
  padding-left: 0;
}
body .list1 ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
body .list1 ul li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .list1 ul li h5 {
  margin: 0;
  font-size: larger;
}
body .list1 ul li p {
  margin: 10px 10px 0 0;
  font-weight: lighter;
}
body .list1 ul li .tarif {
  font-weight: bold;
}
body .list1 button {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 20px;
  padding: 10px;
  margin: 20px 140px 20px 140px;
  color: white;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
